body{

    margin: 0;
   font-family: 'Roboto';
    background-color: rgb(135, 81, 11);
    line-height: 1,5;
    color: azure;

}
  nav{
    background-color: aliceblue;
    padding: 1rem;
  }

     ul{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      gap: 60px
    
    }
    
    a{
      text-decoration: none;
      font-weight: 400px;
      color: rgb(132, 69, 3);
    }
    section{
      padding: 3rem 2rem;
      text-align: center;
      border: 3px solid;
      border-radius: 4px;
     }
     h1{ color: rgb(245, 129, 58);}

     video{
      border-radius: 10px;
      box-shadow: 2px 10px ;
      height: 400px;
      
     }

     
   .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
   }
   input{
    padding: 10px;
    width: 200px;
    border: 1px solid ;
    border-radius: 7px;
    
   }
   input:hover{background-color: rgb(153, 235, 13);}

   footer{
     background-color: aliceblue;
     padding: 6rem ;
     font-weight: 400px;
    color: rgb(132, 69, 3);
    line-height: 2;
   }
    #SA{ 
      
    display: flex;
    justify-content: start;
    align-items: start;
    gap:40px ;
    li{list-style-type: none;}
   }
